.logged-in.woocommerce-account .entry-content .woocommerce {
    display:flex;
 padding-bottom: 50px;
    font-size: 12px;
    max-width:1024;
}

.logged-in.woocommerce-account .entry-content .woocommerce .woocommerce-MyAccount-navigation ul{
font-size: 10px;
}

.logged-in.woocommerce-account .entry-content .woocommerce .woocommerce-MyAccount-navigation li{
  background-color:#6b1f0b;
padding-left: 25px;
flex-wrap: wrap;

}

.woocommerce nav,a {
    color: aliceblue;
    
}

.woocommerce-Price-amount ,  .wp-block-query-title {
    color: antiquewhite;
    padding-left: 30px;
    font-weight: 400;
}

.wp-block-post-title{
    color: antiquewhite;
    padding-left: 25px;
    font-size: 40px;
}

.wp-block-post-excerpt__excerpt  , .wc-tabs{
    color: aliceblue;
}

.entry-content wc-tab {
    color: aliceblue;
}

.sku ,.woocommerce-result-count {
    color: antiquewhite;
 
   
}
.wp-block-post-terms__prefix {
    color: antiquewhite;
    font-size: 12px;
    margin-left: 25px;
}

.wp-block-post-terms__prefix a {
    font-size: 20px;
}

.wp-block-post-title a{ 
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
}

.woocommerce-breadcrumb a  , .woocommerce-MyAccount-navigation-link a{
    color: antiquewhite;
    text-decoration: none;
  
}

.wp-block-woocommerce-product-meta a {
    font-size: 15px;
    text-decoration: none;
    color: black;
    

}


.wp-block-heading {
    color: aliceblue;
}

h2{
    color:rgb(190, 53, 4);
    font-size:50px
}


li {
   
    padding-left: 10px;

}
footer a {
    text-decoration: none;
    font-size: 20px;
}

footer a:hover {
    color: #6b1f0b;
}

.footer-nav {
    background-color: #6b1f0b;
}

.wp-block-comment-date a{
    font-size: 10;
    text-decoration: none;
    color: aliceblue;
}

.wp-block-comment-author-name a{
    text-decoration: none;
    color: aliceblue;}

.wp-block-post-author-name a{
    text-decoration: none;
font-size: 20px;
    color: aliceblue;
}

.taxonomy-category a{
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
}

.wp-block-comment-edit-link a {
    text-decoration: none;
    padding:20px 50px;
    font-size: 20px;
    color: aliceblue;
}
h3 {
    padding-left: 50px;
    font-size: 50px;
    color: black;
    
}

.wp-block-comment-reply-link a {
    text-decoration: none;
    font-size: 40px;
    color: aliceblue;
}

.logged-in-as a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 0, 0);  
}

.post-navigation-link-previous a{
    text-decoration: none;
    font-size: 20px;
        color: rgb(0, 0, 0);  
}
.post-navigation-link-previous a:hover{
    text-decoration: none;
    font-size: 20px;
        color: rgb(223, 215, 215);  
}



.post-navigation-link-next a{
    text-decoration: none;
    font-size: 20px;
        color: rgb(0, 0, 0);  
 
}

.wp-block-comment-content a{
    text-decoration: none;
    font-size: 20px;
        color: rgb(0, 0, 0);  
}

.wp-block-group ul{
    list-style: none;
    padding-bottom: 50px;
   
}


.wp-block-navigation-item__label {
    padding: 25px 25px;
    text-align: center;
}

.wp-block-site-title a{
text-decoration: none;
font-weight: 800;}

.wc-block-components-product-name , .wc-block-components-totals-coupon-link {
    font-size: 22px;
    text-decoration: none;
    color: aliceblue;
}

.wc-block-cart-items__header {
    color: aliceblue;
}

.wc-block-components-sidebar {
    color: aliceblue;
}


.wc-block-grid__product-title{
    color: aliceblue;
    text-decoration: none;
  
}

.wc-block-formatted-money-amount {
    color:aliceblue;
    font-size: 25px;
}

.wc-block-components-product-price__value{
    color:aliceblue;
    font-size: 25px;

}

.wc-block-components-quantity-selector button {
    color: antiquewhite;
}
