.logged-in.woocommerce-account .entry-content .woocommerce {
    display:flex;
 padding-bottom: 50px;
    font-size: 12px;
    max-width:1024;
}

.logged-in.woocommerce-account .entry-content .woocommerce .woocommerce-MyAccount-navigation ul{
font-size: 10px;
}

.logged-in.woocommerce-account .entry-content .woocommerce .woocommerce-MyAccount-navigation li{
  background-color:#6b1f0b;
padding-left: 25px;
flex-wrap: wrap;

}

.woocommerce nav,a {
    color: aliceblue;
    
}

.woocommerce-Price-amount ,  .wp-block-query-title {
    color: antiquewhite;
    padding-left: 30px;
    font-weight: 400;
}

.wp-block-post-title{
    color: antiquewhite;
    padding-left: 25px;
    font-size: 40px;
}

.wp-block-post-excerpt__excerpt  , .wc-tabs{
    color: aliceblue;
}

.entry-content wc-tab {
    color: aliceblue;
}

.sku ,.woocommerce-result-count {
    color: antiquewhite;
 
   
}
.wp-block-post-terms__prefix {
    color: antiquewhite;
    font-size: 12px;
    margin-left: 25px;
}

.wp-block-post-terms__prefix a {
    font-size: 20px;
}

.wp-block-post-title a{ 
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
}

.woocommerce-breadcrumb a  , .woocommerce-MyAccount-navigation-link a{
    color: antiquewhite;
    text-decoration: none;
  
}

.wp-block-woocommerce-product-meta a {
    font-size: 15px;
    text-decoration: none;
    color: black;
    

}

.wp-block-heading {
    color: aliceblue;
}

h2{
    color:aliceblue;
    font-size:50px
}

